<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="myBlog" ng-controller="MainCtrl">
  <h1>Blog</h1>
  <br>
  <h2>Enter your comments here:</h2>
  <form ng-submit="addPost()">
    <input type="text" ng-model="post.title">
    <input type="button" name="name" value="Submit">
  </form>
  <ul>
    <li ng-repeat="post in posts | orderBy: 'upvotes'">
      <span>{{post.title}}</span>
      <br>
      upvotes:  {{post.upvotes}} <span ng-click="incrementVotes(post)">^</span>
    </li>
  </ul>


</body>
</html>
